* {
  font-family: arial;
  color: white;
  background-image: url("https://wallpapercave.com/wp/wp3284839.gif");
}

body {
  padding: 60px;
}
h2 {
  text-align: center;
}
input {
  color: white;
  width: 100%;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  align-content: center;

  margin-bottom: 10px;
  overflow: hidden;
}
.card p {
  padding: 5px;
  text-align: center;
}
.card img {
  max-height: 170px;
  max-width: 170px;
  object-fit: contain;
}
